@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    font-family: 'Young Serif', serif;
}

:root {
    --pink: #F2ACAC;
    --yellow: #D99543;
    --gray: #ededed;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

/* Nav and Header */

header {
    width: 100%;
    height: 500px;
    background-color: var(--yellow);
}

.content {
    max-width: 1000px;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 12px;
}

nav {
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.brand {
    width: 15%;
}

nav ul {
    display: flex;
    flex-direction: row;
}

nav ul li {
    list-style: none;
    padding: 10px;
    cursor: pointer;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: var(--gray);
    border: 1px solid rgba(255, 255, 255, 0.297);
    border-radius: 5px;
    padding: 3px;
    transition: 0.2s;
}

nav ul button {
    border: 1px solid var(--gray);
    padding: 5px 30px;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 8px;
    font-weight: bold;
    background: transparent;
    color: white;
}

nav ul button:hover {
    background: var(--gray);
    color: var(--yellow);
    transition: 0.2s;
}

.content .header-block {
    max-width: 1000px;
    min-width: 300px;
    height: 450px;
    background-color: var(--pink);
    border-radius: 10px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.408);
    -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.497);
    -moz-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.497);
    margin-top: 15px;

    position: relative;
    z-index: 10;
    padding: 10px;
}

.header-block img {
    width: 25%;
    position: absolute;
    right: 10%;
    bottom: 2%;
}

.header-block .text {
    position: absolute;
    bottom: 35%;
    left: 15%;
}

.header-block .text h2 {
    color: white;
    margin-bottom: 5%;
    text-align: left;
    transform: translateX(-20px);
    transition: transform 0.5s;
}

.header-block .text p {
    max-width: 280px;
    color: white;
    text-align: left;
    transform: translateX(-20px);
    transition: transform 0.4s;
}

/* Cat catalog */

section .catalog {
    width: 100vw;
    padding: 100px;
}

section .filter-card {
    width: 980px;
    height: 150px;
    background-color: var(--gray);
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.408);
}

.search-input {
    width: 750px;
    height: 50px;
    border: none;
    border-radius: 7px 0px 0px 7px;
    text-indent: 15px;
}

.search-button {
    width: 150px;
    height: 50px;
    border-radius: 0px 7px 7px 0px;
    border: 1px solid var(--pink);
    cursor: pointer;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--yellow);
    transition: 0.2 ease;
}

.search-button:hover {
    background: var(--yellow);
    color: white;
    transition: 0.3s;
}

.title-wrapper-catalog {
    margin-top: 150px;
    padding-bottom: 20px;
}

section .card-wrapper {
    max-width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    grid-gap: 30px;
    padding-top: 50px;
}

section .card-item {
    height: 400px;
    background-color: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.408);
}

section .card-item img {
    width: 95%;
}

.card-content {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: rgba(0, 0, 0, 0.862);
}

.card-item p {
    width: 90%;
    color: rgba(0, 0, 0, 0.712);
    font-style: italic;
    text-align: center;
}

#card-2 {
    width: 80%;
}

#card-3 {
    width: 55%;
}

#card-4 {
    width: 70%;
}

#card-5 {
    width: 50%;
    padding-bottom: -50px;
}

#card-6 {
    width: 73%;
}

#card-8 {
    width: 80%;
}

#card-9 {
    padding: 40px;
}

.card-item button {
    width: 90%;
    border: none;
    padding: 15px 0px;
    border: 1px solid var(--yellow);
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
    color: var(--yellow);
    margin-bottom: 10px;
    transition: 0.3s ease;
}

.card-item button:hover {
    background: var(--yellow);
    color: white;
    transition: 0.3s;
}

/* About */

.about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}

.about-content {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    margin: 0 auto;
    z-index: 10;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--gray);
    border-radius: 8px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.408);
}

#aboutus {
    margin-bottom: 20px;
}

.right h3 {
    text-align: left;
    width: 90%;
    margin-bottom: 15px;
}

.right p {
    max-width: 90%;
    text-align: left;
}

/* Features */

.features {
    width: 100%;
    height: 100%;
    background: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0px;
    
}

.title-wrapper-features {
    padding: 20px 0px;
    
}

.feature-card-block {
    max-width: 1000px;
    min-width: 300px;
    height: 600px;
    background: white;
    margin: 0 auto;
    border-radius: 8px;
    z-index: 10;
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
    grid-gap: 30px;
    box-shadow: 1px 0px 5px rgba(0, 0, 0, 0.408);
}

.feature-card-item {
    max-width: 420px;
    height: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px solid var(--gray);
    border-radius: 4px;
}

.feature-text-content {
    max-width: 60%;
    margin: 5px;
}

.feature-card-item img {
    width: 150px;
}


/* Footer */

footer {
    width: 100%;
    height: 250px;
}

footer .main {
    width: 100%;
    height: 200px;
    background: var(--yellow);
    padding: 20px 10px;
}

.footer-links {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.footer-links h4 {
    margin-bottom: 10px;
}

.footer-links h6 {
    margin-bottom: 8px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.516);
}

.footer-contact, .footer-social {
    color: white;
    height: 100%;
    min-height: 100px;
}

.main .footer-social img {
    width: 32px;
    height: 32px;
}

footer .last {
    width: 100%;
    height: 50px;
    background-color: var(--pink);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .last a {
    text-decoration: underline;
    color: white;
}